<!DOCTYPE html>
<html>
  <head>
    <title>Gigbrite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.formLogoURL = "<%= image_url('gigbritelogo_form.png') %>";
      window.LogoURL = "<%= image_url('gigbritelogo.png') %>";
    </script> 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
