<!DOCTYPE html>
<html>
  <head>
    <title>Gigbrite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.formLogoURL = "<%= image_url('gigbritelogo_form.png') %>";
      window.LogoURL = "<%= image_url('gigbritelogo.png') %>";
      window.WelcomeLogoURL = "<%= image_url('welcomeback_logo.png') %>";
      window.SplashURL = "<%= image_url('eddie.png') %>";
      window.SearchURL = "<%= image_url('searchbar_image.png') %>";
      window.SearchformURL = "<%= image_url('searchbar_form.png') %>";
      window.AppacademyURL = "<%= image_url('appacademylogo.png') %>";
      window.BaxterURL = "<%= image_url('baxterbuilding.jpg') %>";
      window.CaptainURL = "<%= image_url('captain_america_event.jpg') %>";
      window.CategoryURL = "<%= image_url('category.png') %>";
      window.FooterURL = "<%= image_url('footer.png') %>";
      window.MaybdayURL = "<%= image_url('may_bday.png') %>";
      window.StarkURL = "<%= image_url('StarkExpo.png') %>";
      window.TedURL = "<%= image_url('Ted.png') %>";
      window.EventsURL = "<%= image_url('event-splash-pl.png') %>";
    </script> 
  </head>
  <body>
    <%= yield %>
  </body>
</html>
